{% extends "layout-light.twig" %}
{% block content %}

<div class="col-md-12">
<div class="card">
<div class="card-header">
<h5>Bilgi Güncelleme</h5>
</div>
<div class="card-body">
<div class="row">
<div class="col-md-12">
<form id="logout-form" action="{{url}}/user/update" method="post" enctype="multipart/form-data">
{{csrf | raw}}

<div class="form-group">
<label for="exampleInputPassword1">Ad</label>
<input type="text" class="form-control" name="name" value="{{user.name}}" placeholder="Ad">
</div>

<div class="form-group">
<label for="exampleInputPassword1">Soyad</label>
<input type="text" class="form-control" name="surname" value="{{user.surname}}" placeholder="Soyad">
</div>

<div class="form-group">
<label for="exampleInputEmail1">Email Adresi</label>
<input type="email" class="form-control" name="email"  aria-describedby="emailHelp"  value="{{user.email}}" placeholder="Email adresi">
</div>

<div class="form-group">
<label for="exampleInputPassword1">Telefon</label>
<input type="text" class="form-control" name="phone"  value="{{user.phone}}" placeholder="Telefon">
</div>

<div class="form-group">
<label for="exampleInputPassword1">Cinsiyet</label>
<select name="gender" class="form-control">
<option value="famale" {% if user.gender == "famale" %} selected="" {% endif %}>Kadın</option>
<option value="male" {% if user.gender == "male" %} selected="" {% endif %}>Erkek</option>
</select>
</div>

<div class="form-group">
<label for="exampleInputPassword1">Resim</label>
<div class="input-group mb-3">
<input type="file" name="image" class="form-control">
</div>
</div>

<button type="submit" class="btn btn-primary">Güncelle</button>
</form>
</div>

</div>

</div>
</div>
</div>

{% endblock %}