<div class="left-sidenav">
  <ul class="metismenu left-sidenav-menu" id="side-nav">



    <li><a href="{{url}}"><i class="mdi mdi-monitor"></i><span>Anasayfa</span></a></li>

    <!--   <li class="menu-title">Hesap İşlemleri</li>-->

    <li>
        <a href="javascript: void(0);"><i class="mdi mdi-account-multiple-outline"></i><span>Cari</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false">
            <li><a href="{{url}}/cari/add/1"><span>Müşteri</span></a></li>
            <li><a href="{{url}}/cari/add/2"><span>Tedarikçi</span></a></li>       
            <li><a href="{{url}}/cari/list"><span>Cari Listesi</span></a></li>
        </ul>
    </li>

 

    <li class="menu-title">Finansal</li>



    <li>
        <a href="javascript: void(0);"><i class="fa fa-file-invoice"></i><span>Satış Fatura</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false">
            <li><a href="{{url}}/stok-haraket/cikis">Yeni Satış Fatura</a></li>
            <li><a href="{{url}}/satislar/iki-tarih-gore-satislar">Satış Raporları</a></li>       

        </ul>
    </li>


    <li>
        <a href="javascript: void(0);"><i class="fa fa-file-alt"></i><span>Alım Fatura</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false">

            <li><a href="{{url}}/stok-haraket/giris">Yeni Alım Fatura</a></li>
            <li><a href="{{url}}/alimlar/iki-tarih-gore-alimlar">Alım Raporları</a></li>       

        </ul>
    </li>





    
    
      <li>
        <a href="javascript: void(0);"><i class="mdi mdi-cash-multiple"></i><span>Tahsilat / Ödeme</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false">

            <li><a href="{{url}}/tahsilat/cari-secim">Tahsilat Ekle</a></li>
            <li><a href="{{url}}/odeme/cari-secim">Ödeme Ekle</a></li>


        </ul>
    </li>



    <li>
        <a href="javascript: void(0);"><i class="mdi mdi-castle"></i><span>Kasa</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false">

            <li><a href="{{url}}/kasa/yeni-haraket">Yeni Kasa Giriş / Çıkış</a></li>
            <li><a href="{{url}}/kasa/kasa-raporlari">Kasa Raporları</a></li>

            <li><a href="{{url}}/kasa/kasa-virman">Kasa Virman</a></li>


        </ul>
    </li>

    <li>
        <a href="javascript: void(0);"><i class="mdi mdi-bank"></i><span>Banka</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false">

            <li><a href="{{url}}/banka/sec">Yeni Banka Hareket Kayıt</a></li>
               <li><a href="{{url}}/banka/hesap-ozetleri">Hesap Ozetleri</a></li>
            <li><a href="{{url}}/banka/hareket-raporlari">Hesap Hareketleri</a></li>
         



        </ul>
    </li>

            
            
    <li>
        <a href="javascript: void(0);"><i class="mdi mdi-bank"></i><span>Çek</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false">

            <li><a href="{{url}}/cek/ekle">Yeni Çek Kayıt</a></li>
         
            <li><a href="{{url}}/banka/hareket-raporlari">Çek Raporlari</a></li>
         



        </ul>
    </li>
 


    <li>
        <a href="javascript: void(0);"><i class="mdi mdi-google-analytics"></i><span>Borç / Alacak</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false">



            <li><a href="{{url}}/finansal/borclarim-guncel">Güncel Borç Listem</a></li>
            <li><a href="{{url}}/finansal/alacaklarim-guncel">Güncel Alacak Listem</a></li>




        </ul>
    </li>

            
  





    <li class="menu-title">Stok Yönetimi</li>

    <li>
        <a href="javascript: void(0);"><i class="mdi mdi-creation"></i><span>Stok</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false">
            <li><a href="{{url}}/stok/add">Yeni Stok</a></li>
            <li><a href="{{url}}/stok/list">Stoklar</a></li>
            <li><a href="{{url}}/stok-haraket/ic-transfer">Stok İç Transfer</a></li>  
            <li><a href="{{url}}/stok/kritiktekiler">Adet Kritiğindeki Stoklar</a></li>

        </ul>
    </li>



    <li>
        <a href="javascript: void(0);"><i class="mdi mdi-view-dashboard"></i><span>Depo</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false">

            <li><a href="{{url}}/stok-depolar/list">Depo Listesi</a></li>


        </ul>
    </li>








    <li class="menu-title">Ayarlar</li>

    <li>
        <a href="javascript: void(0);"><i class="mdi mdi-settings"></i><span>Ayarlar</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false">

            <li><a href="{{url}}/parametreler/">Paremetreler</a></li>


        </ul>
    </li>

    <li class="menu-title">İşlemler</li>

    
    <li>
        <a href="javascript: void(0);"><i class="fa fa-user"></i><span>Kullanıcı</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false">

               <li><a href="{{url}}/user/edit">Bilgi Güncelleme</a></li>
            <li><a href="{{url}}/user/password-edit">Şifre İşlemleri</a></li>


        </ul>
    </li>
    
    
    <li>
        <a href="javascript: void(0);" href="#" onclick="event.preventDefault();
                document.getElementById('logout-form').submit();"><i class="mdi mdi-logout"></i><span>Oturumu Kapat</span></a>

    </li>


</ul>
</div>












