{% extends "layout-light.twig" %}


    
{% block content %}

    <div class="page-header bg-primary text-auto row no-gutters align-items-center justify-content-between p-4 p-sm-6">

        <div class="col">

            <div class="row no-gutters align-items-center flex-nowrap">



                <!-- APP TITLE -->
                <div class="logo row no-gutters align-items-center flex-nowrap">
                                        <span class="logo-icon mr-4">
                                             <i class="secondary-text s-48 mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">account_balance</i>

                                        </span>
                    <span class="logo-text h4">Banka İşlemleri</span>
                </div>
            </div>
            <!-- / APP TITLE -->
        </div>


    </div>
    <!-- / HEADER -->

    <div class="col-md-12">
    <div class="row">
        <div class="col-md-12" style="background-color: white;">
            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link btn  fuse-ripple-ready" href="{{ url }}/banka" >Özet Durum</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link btn active  fuse-ripple-ready" href="{{ url }}/banka/sec" >Yeni Hareket Kayıt</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link btn  fuse-ripple-ready"  href="{{ url }}/banka/hareket-raporlari" >Hesap Hareketleri</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link btn   fuse-ripple-ready"  href="{{ url }}/banka/hesap-ozetleri" >Hesap Özetleri</a>
                </li>


            </ul>
        </div>


    <div class="col-md-12 m-t-15">
        <div class="card">
            <div class="card-header">
                <h5>İşlem İçin Banka Seçiniz:</h5>
            </div>
            <div class="card-body ">
                <div class="row">
               
                       
                                    {% for banka in bankalar  %}
                               <div class="col-md-12" > 
                                   <center>
                                   <p>  
                                       <a href="{{ url }}/banka/hesap/hareket/{{ banka.id }}" class="btn  btn-primary col-md-6" >{{banka.banka_adi}} Hesap İşlemleri</a>
                                    </p>
                                      </center>
                               </div>       
                                   
                                    {% endfor %}
                               
                       
                    </div>
                </div>
            </div>
        </div>
    </div>   </div>
    </div>

{% endblock %}