{% extends "layout-light.twig" %}
{% block pagename %}<i class="mdi mdi-monitor-dashboard mr-2"></i>Alım Raporları{% endblock %}
{% block bread %}  

    <li class="breadcrumb-item"><a href="javascript:void(0);">Alımlar</a></li>
    <li class="breadcrumb-item active"><a href="javascript:void(0);">Alım Raporları</a></li>{% endblock %}
        {% block head %}


        <!-- DataTables -->
        <link href="{{asset('plugins/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('plugins/datatables/buttons.bootstrap4.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="{{asset('plugins/datatables/responsive.bootstrap4.min.css')}}" rel="stylesheet" type="text/css" /> 



    {% endblock %}
    {% block content %}

        <div class="row justify-content-center">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <h5>Senet Liste Detayları</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <form id="logout-form"  class="col-md-12" action="{{url}}/senet/senet-listele" method="post">
                                {{csrf | raw}}

                                <div class="row">


                                    <div class="col-md-4">
                                        <label>Rapor Türü</label>


                                        <select class="form-control" name="evrak_tip">

                                      
<option value="2"{% if s_evrak_tip == 2 %} selected {% endif %}>Verdiğim Senetler</option>
<option value="1"{% if s_evrak_tip == 1 %} selected {% endif %}>Aldığım Senetler</option>
<option value="3"{% if s_evrak_tip == 3 %} selected {% endif %}>Hepsi</option>
                                         



                                        </select>
                                    </div>
                                            
                                            
                                                  <div class="col-md-4">
                                        <label>Ödeme Durumu</label>


                                        <select class="form-control" name="odeme_durum">

                                          
<option value="0" {% if s_odeme_durum == 0 %} selected {% endif %}>Açık</option>
<option value="1" {% if s_odeme_durum == 1 %} selected {% endif %}>Kapalı</option>
<option value="3" {% if s_odeme_durum == 3 %} selected {% endif %}>Hepsi</option>




                                        </select>
                                    </div>
                                            
                                            


                                    <div class="col-md-4">
                                        <label>Vade Tarihi Başlama Tarihi</label>
                                        <input type="date" class="form-control" name="bas_tarih" value="{{bas_tarih}}"/>
                                    </div>


                                    <div class="col-md-4">
                                        <label>Vade Tarihi Bitiş Tarihi</label>
                                        <input type="date" class="form-control" name="bit_tarih" value="{{bit_tarih}}"/>
                                    </div>



                                </div>

                                <hr>
                                <div class="row">               
                                    <div class="col-md-4"> 

                                        <button type="submit" class="form-control btn btn-primary">Rapor Getir</button> </div> </div>





                            </form>




                        </div>
                    </div>
                </div>
            </div>



            {%  if action == "ok" %}

                <div class="col-md-12">
                    <div class="card">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table id="senetlistesitable" stok-girisleri-data-activate="0" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Son Ödeme Tarih</th>
                                                       <th>Evrak Turu</th>
                                                    <th>Evrak No</th>
                                                    <th>Cari Hesap</th>
                                                    <th>Tutar</th>
                                                     <th>İşlem</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for senet in senetler  %}
                                                    <tr>
                                                        <td>{{senet.evrak_son_odeme_tarihi|date("d-m-Y")}}</td>
                                                        <td>{% if senet.evrak_tip == 1%}Aldığımız Senetler{% else %}Yazdığımız{% endif %}</td>
      
                                                        <td><button type="button" class="btn btn-primary waves-effect waves-light "  data-evrak-id="{{senet.id}}" >{{senet.evrak_no}}</button></td>
                                                        <td><a href="{{ url }}/cari/show/{{ senet.cari_id }}">{{senet.cari_adi}}</a></td>
                                                        <td style="width:120px;">{{Tl(senet.evrak_bedeli)}} TL</td>
                                                         <!--  <td style="width:120px;"><a href="{{ url }}/senet/islem/{{ senet.id }}">İşlem Yap</a></td> --!>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>

                         



                                </div>
                            </div>


                        </div>  </div>
                </div>

          

        {%   endif %}


    {% endblock %}

    {% block footer %}
        <script src="{{asset('plugins/datatables/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/dataTables.bootstrap4.min.js')}}"></script>
        <!-- Buttons examples -->
        <script src="{{asset('plugins/datatables/dataTables.buttons.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/buttons.bootstrap4.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/jszip.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/pdfmake.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/vfs_fonts.js')}}"></script>
        <script src="{{asset('plugins/datatables/buttons.html5.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/buttons.print.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/buttons.colVis.min.js')}}"></script>
        <!-- Responsive examples -->
        <script src="{{asset('plugins/datatables/dataTables.responsive.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/responsive.bootstrap4.min.js')}}"></script>

        <script> setDataTable("#senetlistesitable", 1, "senetler-{{bas_tarih|date("d-m-Y")}}-ile-{{bit_tarih|date("d-m-Y")}}-arasi");



        </script>



    {% endblock %}