{% extends "layout-light.twig" %}

    {% block head %}
        <style>
            .cariIsımleArama{
                list-style: none;
                position:absolute;
                z-index:3;
                right:0px;
                left:0px;
                background-color:white;
                margin-right: 10px;
                margin-left: 10px;
                border: 1px solid black;
                padding: 10px;

            }

            .cariIsımleArama li{
                color: #040f12;
                cursor:pointer;
                padding: 0px;
                margin-bottom:10px;
                border-bottom:1px dashed black;

            }

            .cariIsımleArama li:hover{
                color: #040f12;
                background-color: #e6f2ff;

            }

            #aramasonuc{



            }
        </style>
    {% endblock %}
{% block content %}


    <div id="contacts" class="page-layout simple left-sidebar-floating">

        <div class="page-header bg-primary text-auto row no-gutters align-items-center justify-content-between p-4 p-sm-6">

            <div class="col">

                <div class="row no-gutters align-items-center flex-nowrap">

                    <button type="button" class="sidebar-toggle-button btn btn-icon d-inline-block d-lg-none mr-2" data-fuse-bar-toggle="contacts-sidebar">
                        <i class="icon icon-menu"></i>
                    </button>

                    <!-- APP TITLE -->
                    <div class="logo row no-gutters align-items-center flex-nowrap">
                                        <span class="logo-icon mr-4">

            <i class="secondary-text s-48 mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">web</i>

                                        </span>
                        <span class="logo-text h4">Websitesi</span>
                    </div>
                </div>
                <!-- / APP TITLE -->
            </div>

        </div>
        <!-- / HEADER -->

        <div class="page-content-wrapper">

            <aside class="page-sidebar p-6" data-fuse-bar="contacts-sidebar" data-fuse-bar-media-step="md">
                <div class="page-sidebar-card">
                    <!-- SIDENAV CONTENT -->
                    <div class="content">

                        <ul class="nav flex-column" style="padding-bottom: 16px;">




                            {% for key , val  in menuler %}

                                <li class="nav-item" style="padding-top:16px;">
                                    <a class="nav-link ripple active  sid-nav-link {% if aktif_url == val %}accent{% endif %} " href="{{ url }}/{{ val }}">
                                        <span>{{key}}</span>
                                    </a>
                                </li>

                            {% endfor %}



                        </ul>
                    </div>
                    <!-- / SIDENAV CONTENT -->
                </div>

                <div class="card m-t-15">
                    <div class="card-header">Yayındaki Tema</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                {{ ayar.active_template_name }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card m-t-15">
                    <div class="card-header">Düzenlenen Tema</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                {{ ayar.template_name }}
                            </div>
                        </div>
                    </div>
                </div>
            </aside>


            {% if ayarkontrol == 0 %}

                <!-- / CONTENT -->
                <div class="page-content col-md-12 p-4 p-sm-6">
                    <div class="row">



                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center;">
                                            <form  action="{{url}}/web/ayar-sifirla" method="post">
                                                {{csrf | raw}}

                                                <button type="submit" class="btn btn-danger">Ayarları Oluştur</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>    </div>

                <!-- CONTENT -->

            {% elseif ayarkontrol == 1 %}


                <div class="page-content col-md-12 p-4 p-sm-6">


                    <div class="row">

                        <div class="col-md-12">

                            <h4>Site Bilgileri</h4>

                        </div>




                        <div class="col-md-12">
                            <form  action="{{url}}/web/bilgileri-guncelle" method="post">
                                {{csrf | raw}}
                                <div class="row">

                                    <div class="col-md-6 m-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12" style="text-align: center;">
                                                        <div class="form-group">
                                                            <label>Site Adı</label>
                                                            <input type="text" class="form-control"  name="site_adi" value="{{ayar.site_adi }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 m-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12" style="text-align: center;">
                                                        <div class="form-group">
                                                            <label>Site Kısa Açıklaması</label>
                                                            <input type="text" class="form-control"  name="site_title" value="{{ayar.site_title }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6 m-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12" style="text-align: center;">
                                                        <div class="form-group">
                                                            <label>Yekili Adı</label>
                                                            <input type="text" class="form-control"  name="yetkili_ad" value="{{ayar.yetkili_ad }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 m-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12" style="text-align: center;">
                                                        <div class="form-group">
                                                            <label>İletişim Telefon Numarası</label>
                                                            <input type="text" class="form-control"  name="site_telefon" value="{{ayar.site_telefon }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6 m-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12" style="text-align: center;">
                                                        <div class="form-group">
                                                            <label>İletişim Mail Adresi</label>
                                                            <input type="text" class="form-control"  name="site_mail" value="{{ayar.site_mail }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-md-6 m-t-15">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12" style="text-align: center;">
                                                        <div class="form-group">
                                                            <label>İletişim Adresi</label>
                                                            <input type="text" class="form-control"  name="site_adres" value="{{ayar.site_adres }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 m-t-15">
                                        <button type="submit" class="btn btn-danger">Bilgileri Güncelle</button>

                                    </div>

                                </div>

                            </form>
                        </div>




                    </div>    </div>

            {% endif %}
        </div>
    </div>



    </div>




{% endblock %}

{% block footer %}
    <script>


        $('[data-form-adi]').change(function() {


            var form_adi = $(this).attr("data-form-adi");

            document.getElementById(form_adi).submit();


        });



    </script>


{% endblock %}