

<!-- Navbar Custom Menu -->
<div class="navbar-custom-menu">

    <div class="container-fluid">
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu list-unstyled">


                <li><a href="{{url}}"><i class="mdi mdi-home"></i><span>Anasayfa</span></a></li>

                <!--   <li class="menu-title">Hesap İşlemleri</li>-->


                <li  class="has-submenu">

                    <a href="#"><i class="mdi mdi-book-open"></i>Borç & Alacak</a>
                    <ul class="submenu">
                        <li  class="has-submenu">
                            <a href="#">Hesaplar</a>
                            <ul class="submenu">
                                <li><a href="{{url}}/cari/add/1">Yeni Müşteri</a></li>

                            </ul>
                        </li>



                    </ul>

                </li>



                <li  class="has-submenu">

                    <a href="#"><i class="mdi mdi-cash-multiple"></i>Cüzdan</a>
                    <ul class="submenu">


                        <li><a href="{{url}}/finansal/aylik-odeme-cari-secim">Para Girişi</a></li>
                        <li><a href="{{url}}/finansal/aylik-odeme-cari-secim">Para Çıkışı</a></li>



                    </ul>

                </li>



                <li  class="has-submenu">
                    <a href="#"><i class="mdi mdi-package"></i> Hesaplar</a>
                    <ul class="submenu">

                        <li><a href="{{url}}/stok/add">Yeni Stok</a></li>
                        <li><a href="{{url}}/stok/fast-price-update">Hızlı Stok Güncelleme</a></li>
                        <li><a href="{{url}}/stok/list">Stoklar</a></li>
                        <li><a href="{{url}}/stok-haraket/ic-transfer">Stok İç Transfer</a></li>
                        <li><a href="{{url}}/stok/kritiktekiler">Adet Kritiğindeki Stoklar</a></li>

                        <li><a href="{{url}}/stok-depolar/list">Depo Listesi</a></li>

                    </ul>
                </li>




                <li  class="has-submenu">
                    <a href="#"><i class="mdi mdi-google-analytics"></i> Rapor</a>
                    <ul class="submenu">
                        <li  class="has-submenu">
                            <a href="#">Satış Raporları</a>
                            <ul class="submenu">
                                <li><a href="{{url}}/finansal/ozet-durum">Özet Durum</a></li>
                                <li><a href="{{url}}/satislar/iki-tarih-gore-satislar">İki Tarih Arası Döküm</a></li>
                                <li><a href="{{url}}/satislar/iki-tarih-gore-satislar/analiz">İki Tarih Arası Analiz</a></li>
                                <li><a href="{{url}}/">En Çok Satan Ürünler</a></li>
                            </ul>
                        </li>
                        <li  class="has-submenu">
                            <a href="#">Nakit İşlemleri</a>
                            <ul class="submenu">
                                <li><a href="{{url}}/finansal/aylik-odeme-listesi">Nakit Özet</a></li>
                                <li><a href="{{url}}/finansal/aylik-odeme-listesi">Nakit Girişleri</a></li>
                                <li><a href="{{url}}/finansal/aylik-odeme-listesi">Nakit Çıkışları</a></li>
                            </ul>
                        </li>
                        <li  class="has-submenu">
                            <a href="#">Ödemeler</a>
                            <ul class="submenu">
                                <li><a href="{{url}}/finansal/aylik-odeme-listesi">Aylık Sabit Ödeme Listesi</a></li>
                            </ul>
                        </li>
                        <li  class="has-submenu">
                            <a href="#">Borç / Alacak</a>
                            <ul class="submenu">
                                <li><a href="{{url}}/finansal/borclarim-guncel">Güncel Borç Listem</a></li>
                                <li class="s-hr"><a href="{{url}}/finansal/alacaklarim-guncel">Güncel Alacak Listem</a></li>
                                <li><a href="{{url}}/finansal/borclarim">Toplam Borç Listem</a></li>
                                <li><a href="{{url}}/finansal/alacaklarim">Toplam Alacak Listem</a></li>
                            </ul>
                        </li>


                        <li  class="has-submenu">
                            <a href="#">Alımlar & Satışlar</a>
                            <ul class="submenu">

                                <li><a href="{{url}}/alimlar/iki-tarih-gore-alimlar">Alım Raporları</a></li>
                            </ul>
                        </li>


                        <li  class="has-submenu">
                            <a href="#">Kasa & Banka</a>
                            <ul class="submenu">
                                <li><a href="{{url}}/kasa/kasa-raporlari">Kasa Raporları</a></li>
                                <li><a href="{{url}}/banka/hareket-raporlari">Banka Hesap Hareketleri</a></li>

                            </ul>
                        </li>


                    </ul>
                </li>



                <li  class="has-submenu">

                    <a href="#">Kullanıcı</a>


                    <ul class="submenu">

                        <li><a href="{{url}}/user/add">Yeni Kullanıcı Ekle</a></li>

                        <li><a href="{{url}}/user/edit">Bilgi Güncelleme</a></li>
                        <li><a href="{{url}}/user/password-edit">Şifre İşlemleri</a></li>


                        <li><a href="{{url}}/user/list">Kullanıcılar</a></li>


                    </ul>
                </li>



                <li>
                    <a href="#" href="#" onclick="event.preventDefault();
                            document.getElementById('logout-form').submit();"><i class="mdi mdi-logout"></i><span>Oturumu Kapat</span></a>

                </li>



            </ul>
        </div>
    </div>
</div>










