{% extends "layout-light.twig" %}
{% block content %}
    
      <div class="row">
          
          
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Kasa Raporu</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="logout-form" action="{{url}}/kasa/kasa-raporlari-goster" method="post">
                            {{csrf | raw}}
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Kasa</label>
                                    <select class="form-control" name="kasa_id">
                                        {% for kasa in kasalar  %}

                                            {% if kasa.id == kasa_id %}
                                                <option value="{{kasa.id}}" selected="">{{kasa.kasa_adi}} - {{ Tl(kasa.kasa_toplam_tutar)  }} TL</option>
                                            {% else %}
                                                <option value="{{kasa.id}}" >{{kasa.kasa_adi}} - {{ kasa.kasa_toplam_tutar  }} TL</option>
                                            {% endif %}

                                        {% endfor %}
                                    </select>

                                </div>

                                <div class="col-md-6">
                                    <label>Haraket Tipi</label>
                                    <select class="form-control" name="tip">

                                        {% for key, val in tipler %}


                                            {% if key == tip %}
                                                <option value="{{key}}" selected="">{{val}}</option>
                                            {% else %}
                                                <option value="{{key}}" >{{val}}</option>
                                            {% endif %}

                                        {% endfor %}
                                    </select>

                                </div>


                                <div class="col-md-6">
                                    <label>Rapor Başlama Tarihi</label>


                                    <input type="date" class="form-control" name="bas_tarih" value="{{bas_tarih}}"/>
                                </div>


                                <div class="col-md-6">
                                    <label>Rapor Bitiş Tarihi</label>


                                    <input type="date" class="form-control" name="bit_tarih" value="{{bit_tarih}}"/>
                                </div>


                                <div class="col-md-4">  <label>İşlem</label> 

                                    <button type="submit" class="form-control btn btn-primary">Kasa Raporunu Getir</button> </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                
                                
    
                    
                    
                    

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Kasa Dökümü</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                          <div class="table-responsive">
                                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                <thead>
                                    <tr>
                                        <th>Kasa</th>
                                          <th>Tür</th>
                                        <th>Hesap</th>
                                         <th>Not</th>
                                        <th>Tarih</th>
                                        <th>Kasa Girişi</th>
                                        <th>Kasa Çıkışı</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    {% for kasa in kasa_dokum.result  %}
                                        <tr>
                                            <th scope="row">{{kasa.kasa_adi}}</th>
                                            {%  if kasa.kasa_haraket_tip == 1 %}
                                            <td>Tahsilat</td>
                                            {% else %}
                                                <td>Ödeme</td>
                                                {% endif %}
                                            
                                            <td>{{kasa.cari_adi}}</td>
                                              
                                            <td>{{kasa.kasa_haraket_not}}</td>
                                             <td>{{kasa.kasa_haraket_tarih | date('d-m-Y')}}</td>
                                                {%  if kasa.kasa_haraket_tip == 1 %}
                                               <td>{{Tl(kasa.kasa_haraket_tutar , 2  )}} TL</td>
                                                   <td></td>
                                            {% else %}
                                                
                                                <td></td>
                                                    <td>{{Tl(kasa.kasa_haraket_tutar,2)}} TL</td>
                                                {% endif %}
                                        
                                      
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        {{paginate(kasa_dokum.paginate,"kasa/kasa-raporlari-goster",paginate_ex) | raw }}
                    </ul>
                </nav>
            </div> 
        </div>
    </div>
  </div>


{% endblock %}

    {% block footer %}





        <script src="{{asset('plugins/datatables/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/dataTables.bootstrap4.min.js')}}"></script>
        <!-- Buttons examples -->
        <script src="{{asset('plugins/datatables/dataTables.buttons.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/buttons.bootstrap4.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/jszip.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/pdfmake.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/vfs_fonts.js')}}"></script>
        <script src="{{asset('plugins/datatables/buttons.html5.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/buttons.print.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/buttons.colVis.min.js')}}"></script>
        <!-- Responsive examples -->
        <script src="{{asset('plugins/datatables/dataTables.responsive.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/responsive.bootstrap4.min.js')}}"></script>

        <script>
            setDataTable("#datatable-buttons", 1, "kasaraporu", "");



        </script>


    {% endblock %}
