{% extends "layout-light.twig" %}
{% block head %}


    <!-- DataTables -->
    <link href="{{asset('plugins/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('plugins/datatables/buttons.bootstrap4.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="{{asset('plugins/datatables/responsive.bootstrap4.min.css')}}" rel="stylesheet" type="text/css" />

    <style>



        .modal-dialog {
            max-width: 90%;

        }

        .btn-group, .btn-group-vertical {
          -webkit-box-shadow: none;
            box-shadow: none;
        }
    </style>






{% endblock %}


{% block modals %}


    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="myLargeModalLabel"> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">

                    <div id="invoicearea" class="col-md-12"></div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}


    {% block content %}




        <div id="contacts" class="page-layout simple left-sidebar-floating">

            <div class="page-header bg-primary text-auto row no-gutters align-items-center justify-content-between p-4 p-sm-6">

                <div class="col">

                    <div class="row no-gutters align-items-center flex-nowrap">

                        <button type="button" class="sidebar-toggle-button btn btn-icon d-inline-block d-lg-none mr-2" data-fuse-bar-toggle="contacts-sidebar">
                            <i class="icon icon-menu"></i>
                        </button>

                        <!-- APP TITLE -->
                        <div class="logo row no-gutters align-items-center flex-nowrap">
                                        <span class="logo-icon mr-4">
                                            <i class="secondary-text s-48 mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">receipt</i>

                                        </span>
                            <span class="logo-text h4">Fiş</span>
                        </div>
                    </div>
                    <!-- / APP TITLE -->
                </div>

            </div>
            <!-- / HEADER -->

            <div class="page-content-wrapper">


                <aside class="page-sidebar p-6" data-fuse-bar="contacts-sidebar" data-fuse-bar-media-step="md">
                    <div class="page-sidebar-card">
                        <!-- SIDENAV CONTENT -->
                        <div class="content">

                            <ul class="nav flex-column" style="padding-bottom: 16px;">

                                <div class="header p-4">

                                    <!-- USER -->
                                    <div class="row no-gutters align-items-center" style="text-align:center">

                                        <span class="font-weight-bold" style="text-align:center;margin: auto;">Fiş İşlemleri</span>
                                    </div>
                                    <!-- / USER -->

                                </div>


                                <div class="divider" style="padding-bottom: 15px;"></div>



                                <li class="nav-item">
                                    <a href="{{url}}/fis" class="nav-link ripple sid-nav-link  "><span>Fiş Özet</span></a>
                                </li>


                                <li class="nav-item">
                                    <a href="{{url}}/fis/liste" class="nav-link ripple sid-nav-link accent"><span>Fişler</span></a>
                                </li>

                                <li class="nav-item">
                                    <a href="{{url}}/fis/giris" class="nav-link ripple sid-nav-link"><span>Yeni Alım Fişi</span></a>
                                </li>

                                <li class="nav-item" style="padding-bottom: 15px;">
                                    <a href="{{url}}/fis/cikis" class="nav-link ripple sid-nav-link" ><span>Yeni Satış Fişi</span></a>
                                </li>


                            </ul>
                        </div>
                        <!-- / SIDENAV CONTENT -->
                    </div>
                </aside>


                <div class="page-content col-md-12 p-4 p-sm-6">
                    <!-- CONTACT LIST -->
                    <div class="contacts-list" style="padding-bottom: 20px;">


                        <div class="card  m-b-15">
                            <div class="card-body">

                        <form id="logout-form"  class="col-md-12" action="{{url}}/fis/liste" method="post">
                            {{csrf | raw}}

                            <div class="row">


                                <div class="col-md-3">
                                    <label>Fiş Türü</label>


                                    <select class="form-control" name="type">


                                        <option value="1"    {% if type == "1" %} selected  {% endif %}>Alım Fişleri</option>
                                        <option value="2"    {% if type == "2" %} selected  {% endif %} >Satış Fişleri</option>





                                    </select>
                                </div>


                                <div class="col-md-3">
                                    <label>Rapor Başlama Tarihi</label>


                                    <input type="date" class="form-control" name="bas_tarih" value="{{bas_tarih}}"/>
                                </div>


                                <div class="col-md-3">
                                    <label>Rapor Bitiş Tarihi</label>


                                    <input type="date" class="form-control" name="bit_tarih" value="{{bit_tarih}}"/>
                                </div>

                                <div class="col-md-3">
                                    <label>İşlem</label>


                                    <button type="submit" class="form-control btn btn-primary">Rapor Getir</button> </div> </div>
                        </form>




                    </div><!--end card-body-->


                </div><!--end card-->





                <div class="card">
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table id="alimlartable" stok-girisleri-data-activate="0" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                        <tr>
                                            <th>Tarih</th>
                                            <th>Evrak No</th>
                                            <th>Hesap</th>
                                            <th>Vergili Toplam</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for fatura in fislar  %}
                                            <tr>
                                                <th scope="row" style="width:50px;">{{fatura.created_date|date("d-m-Y H:i:s")}}</th>
                                                <th style="width:150px;"><button type="button" class="btn btn-primary waves-effect waves-light alimevrakmodal" data-toggle="modal" data-evrak-id="{{fatura.id}}" data-animation="bounce" data-target=".bd-example-modal-xl">{{fatura.evrak_no}}</button></th>
                                                <th>{{fatura.cari_adi}}</th>
                                                <td style="width:120px;">{{Tl(fatura.genel_toplam)}} TL</td>
                                                {% set genel_toplam_tutari = genel_toplam_tutari + fatura.genel_toplam %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                                {% if genel_toplam_tutari > 0 %}
                                <div class="col-md-12">
                                    <div class="row">

                                        <div class="col-md-8"></div>
                                        <div class="col-md-2"> </div>
                                        <div class="col-md-2"><b>{{ Tl(genel_toplam_tutari , 2) }} TL</b></div>

                                    </div>
                                </div>
                                {% endif %}
                            </div><!--end card-body-->


                        </div><!--end card-->











                    </div>
                    <!-- / CONTACT LIST -->

                </div>
                <!-- / CONTENT -->

            </div>
        </div>
        </div>



    {% endblock %}

    {% block footer %}
        <script src="{{asset('plugins/datatables/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/dataTables.bootstrap4.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/dataTables.buttons.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/buttons.bootstrap4.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/jszip.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/pdfmake.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/vfs_fonts.js')}}"></script>
        <script src="{{asset('plugins/datatables/buttons.html5.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/buttons.print.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/buttons.colVis.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/dataTables.responsive.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/responsive.bootstrap4.min.js')}}"></script>
        <script> setDataTable("#alimlartable", 1, "alimlar-{{bas_tarih}}-ile-{{bit_tarih}}-arasi");
            $(".alimevrakmodal").click(function () {
                $("#invoicearea").html("Yükleniyor....");
                var id = $(this).attr("data-evrak-id");
                {% if type == "1" %}

    $("#invoicearea").load("{{ url }}/fatura/show/" + id + "/alim");
                  {% elseif type == "2" %}
    $("#invoicearea").load("{{ url }}/fatura/show/" + id + "/satis");
                  {% endif %}


            });

        </script>



    {% endblock %}