<div class="navbar-top fuse-navy-900 aside-toolbar " style="background-color: #1e2129!important;">
    <div class="logo">      <span class="logo-icon">A</span>
        <span class="logo-text" style="color: rgba(255,255,255,.7)!important;">Avokado Panel</span></div>
    <div class="buttons">

        <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
            <i class="icon icon-backburger"></i>
        </button></div>
</div>


<ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item">



    <li><a  class="nav-link ripple " data-url="/"   href="{{url}}">
            <i class="secondary-text s-48 mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">view_day</i>

            <span>Duvar</span></a></li>

    <li>
        <a class="nav-link ripple fuse-ripple-ready" href="{{ url }}/cari/show/{{ user.cari_id }}" data-url="apps-contacts.html">

            <i class="secondary-text s-48 mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">account_box</i>

            <span>Hesabım</span>
        </a>
    </li>


    <li>
        <a class="nav-link ripple " href="{{ url }}/stok/list" data-url="apps-e-commerce-orders.html">
            <i class="secondary-text s-48 mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">view_quilt</i>

            <span>Ürünler</span>
        </a>
    </li>









    <li>

        <a class="nav-link ripple" href="#" >

            <i class="secondary-text s-48 mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">local_grocery_store</i>

            <span>Sipariş</span>
        </a>
    </li>








    <li>
        <a class="nav-link ripple" href="{{ url }}/bildirim/liste" >

            <i class="secondary-text s-48 mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">notifications_none</i>

            <span>Bildirimler</span>
        </a>
    </li>










    <li><a  class="nav-link ripple "  href="{{url}}/user/edit">

            <i class="secondary-text s-48 mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">people</i>
            <span>Bilgi Güncelleme</span></a></li>







    <li>
        <a class="nav-link ripple " href="#" onclick="event.preventDefault();
                            document.getElementById('logout-form').submit();">
            <i class="secondary-text s-48 mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">exit_to_app</i>

            <span>Oturumu Kapat</span></a>

    </li>



</ul>










