         

             <!-- Navbar Custom Menu -->
                <div class="navbar-custom-menu">
                    
                    <div class="container-fluid">
                        <div id="navigation">
                            <!-- Navigation Menu-->
                            <ul class="navigation-menu list-unstyled"> 


    <li><a href="{{url}}"><i class="mdi mdi-home"></i><span>Anasayfa</span></a></li>

     <li><a href="{{url}}/bildirim/add"><i class="mdi mdi-home"></i><span>Toplu Bildirim</span></a></li>

    <!--   <li class="menu-title">Hesap İşlemleri</li>-->

    <li  class="has-submenu">
        <a href="#"><i class="mdi mdi-account-multiple-outline"></i>Hesap İşlemleri</a>
        <ul  class="submenu">
            <li><a href="{{url}}/hesaplar/add">Yeni Hesap</a></li> 
            <li><a href="{{url}}/hesaplar/list">Hesap Listesi</a></li>
        </ul>
    </li>


 


    <li  class="has-submenu">
        
              <a href="#"><i class="fa fa-user"></i> İşlem</a>
           
              
        <ul class="submenu">

               <li><a href="{{url}}/test/deploy-test">Deploy Test</a></li>

       


        </ul>
    </li>



    <li  class="has-submenu">
        
              <a href="#"><i class="fa fa-user"></i> Kullanıcı</a>
           
              
        <ul class="submenu">

               <li><a href="{{url}}/user/edit">Bilgi Güncelleme</a></li>
            <li><a href="{{url}}/user/password-edit">Şifre İşlemleri</a></li>


        </ul>
    </li>
    
    
    <li>
        <a href="#" href="#" onclick="event.preventDefault();
                document.getElementById('logout-form').submit();"><i class="mdi mdi-logout"></i><span>Oturumu Kapat</span></a>

    </li>



</ul>
</div>
</div>
</div>










