{% extends "layout-light.twig" %}

{% block pagename %}<i class="mdi mdi-monitor-dashboard mr-2"></i>Banka Hesap Özeti{% endblock %}
{% block bread %}  

    <li class="breadcrumb-item"><a href="{{ url }}/banka/bankalar">Banka</a></li>
    <li class="breadcrumb-item active"><a href="javascript:void(0);">Hesap Özetleri</a></li>{% endblock %}

    {% block content %}



        <div class="col-md-12">
            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                        <thead>

                                        <tr>
                                            <th> Banka  </th>
                                            <th>Hesap Adı  </th>

                                            <th>İban</th>
                                            <th>Bakiye</th>

                                        </tr>

 </thead>
                                        <tbody>

                                        {% for hesap in hesaplar  %}
                                            <tr>


                                                <td>

                                                   {{hesap.banka_adi}}

                                                </td>


                                                <td>

                                                  {{hesap.hesap_adi}}

                                                </td>







                                                <td>

                                                   {{hesap.hesap_iban}}

                                                </td>

                                                <td>
                                                    {{Tl(hesap.hesap_bakiyesi)}} TL
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block footer %}





        <script src="{{asset('plugins/datatables/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/dataTables.bootstrap4.min.js')}}"></script>
        <!-- Buttons examples -->
        <script src="{{asset('plugins/datatables/dataTables.buttons.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/buttons.bootstrap4.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/jszip.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/pdfmake.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/vfs_fonts.js')}}"></script>
        <script src="{{asset('plugins/datatables/buttons.html5.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/buttons.print.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/buttons.colVis.min.js')}}"></script>
        <!-- Responsive examples -->
        <script src="{{asset('plugins/datatables/dataTables.responsive.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/responsive.bootstrap4.min.js')}}"></script>

        <script>
            setDataTable("#datatable-buttons", 1, "bankahareketdokum", "");



        </script>


    {% endblock %}